.red {
	color:red;
}

.imgbtn{
	color:#808080;
}

.inactiveBtnColor {
	color:red;
}

tr.inactiveActivity td {
	 background-color: #c0c0c0;
}

tr.endDateBeforeToday td {
	 background-color: #ff0000;
	 color: #ffffff;
}

.background-color-caption {
	background-color:#dc2d23;
}

.form-control-sm {
  height: 20px;
}

.control-label-sm {
	height: 20px;
}

.text-small {
  font-size: 75%;
}

.spacer {
	margin-top:20px;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ff80;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008080;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
  Header vertical align
*/
.verticalTableHeader {
    white-space:pre-line;
   	g-origin:50% 50%;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(270deg);
    
    height: 90px; 
    max-height:90px;
    width: 90px;
    max-width: 90px;
    
    overflow: hidden;
    text-align:left;
    
    border-left: 1px solid black; 
    border-right: 1px solid black;

    word-spacing: normal;
 }
 
.headerBorder {
	border-left: 1px solid black; 
	border-right: 1px solid black;
}

.headerBorderRight {
	border-right: 1px solid black;
}

.dateWidthSize {
    width: 68px;
    max-width: 68px;
}

.amountSizeBorder {
    width: 80px;
    max-width: 80px;
    
    border-left: 1px solid black; 
    border-right: 1px solid black;
    text-align:right;
}
